version: '3.8'

services:
  ai-telegram-bot:
    image: python:3.9-slim
    container_name: ai-telegram-bot
    restart: always
    working_dir: /app
    environment:
      - BOT_TOKEN=7501540686:AAHXrwBweP7TOJSTftLlBsK7AHwaGaNdgok
      - ADMIN_ID=843366380
      - TIMEZONE=Europe/Moscow
    volumes:
      - /home/beeboo/docker/ai-telegram-bot/telegram_bot/bot.py:/app/bot.py:ro
      - /home/beeboo/docker/ai-telegram-bot/src:/app/src:ro
      - /home/beeboo/docker/ai-telegram-bot/main.py:/app/main.py:ro
      - /home/beeboo/docker/ai-telegram-bot/datasets:/app/datasets
      - /home/beeboo/docker/ai-telegram-bot/models:/app/models
      - bot-data:/app/bot_data
    entrypoint: /bin/bash
    command:
      - -c
      - |
        apt-get update
        apt-get install -y gcc g++
        pip install --no-cache-dir --upgrade pip
        pip install --no-cache-dir python-telegram-bot==20.7 torch PyPDF2 python-docx hypothesis
        python /app/bot.py
    networks:
      - ai-network

volumes:
  bot-data:

networks:
  ai-network:
    driver: bridge
